doctype html
html
  head
    title iFinance
    meta(name='description' content='For financial accounting application. Sergey Sherstnev 2017')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(rel='icon' href='https://i.imgur.com/IXtkiAk.png')
    a(href='https://github.com/fenrir1990/iFinance')
        img(style='position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;', src='http://aral.github.com/fork-me-on-github-retina-ribbons/right-dusk-blue@2x.png', alt='Fork me on GitHub')
    script(src="/bundle.js")
    style.
      body {
        font-family: Arial;
      }
      .loading {
        padding-top: 15px;
        font-size: 36px;
        text-align: center;
      }
      .iLogo {
        padding-top: 0px;
        font-size: 60px;
      }
      .iText {
        padding-top: 8px;
        padding-bottom: 0px;
        font-size: 60px;
      }
      .iTextNew {
        padding-top: 8px;
        padding-bottom: 0px;
        font-size: 36px;
        font-weight: bold;
      }
      .labelLogo{
        background-color: #00ace6;
      }
      .jumbotronLogo{
        padding-top:10px;
        padding-bottom:20px;
      }
      .ModalColor1{
        background-color: #f2f2f2;
      }
      .ModalColor2{
        background-color: #ffffff;
      }
      .PersText {
        font-size: 16px;
        font-weight: bold;
      }
  body
    todo-app
      .loading(style='margin-top: 30px;') Загрузка...
    .container.text-center(style='margin-bottom: 30px;')
      p
        a(href='mailto:infection.pro.mail@gmail.com?subject=Отзыв пользователя') Написать разработчику: Сергей Шерстнёв